#main_wrapper{
    align-content: center;
    align-items: center;
    flex: none;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}
#main_container{
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 100px 0px 120px 0px;
    width: 100%;
    max-width: 100%;
}

#main_box{
		margin-left: 50%;
		transform: translateX(-50%);
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 120px 0px 0px 220px; */
    max-width: 100%;
    float:left;
}

#main_box_image {
	text-align: center;
}

#main_box_image #img1{
    flex: none;
    height: auto;
    margin: 0;
    width: 202px;
    max-width: calc(100% - 20px);
}
#main_box_image #img2 {
    flex: none;
    height: auto;
    width: 204px;
    max-width: 100%;
    max-width: calc(100% - 20px);
}
#main_box_title{
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
    max-width: 100%;
}

#main_box_title p {
    color: #3a3e49;
    font-family: 'Noto Sans JP';
    font-size: 16px;
    font-weight: 500;
    height: auto;
    line-height: 1.6;
    margin: 0px 0px 50px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}
.main_box_title_list{
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    max-width: 100%;
}

#main_box_title p{
    font-weight: 550;
    font-size: 20px;
    color: #777777;
}
#main_box_title_list p{
    color: #3a3e49;
    font-family: 'Noto Sans JP';
    font-size: 35px;
    font-weight: 700;
		margin: 40px 0 30px 0;
    height: auto;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}
#main_box_title_list h1{

    font-family: 'Noto Sans JP';
    font-size: 80px;
    font-weight: 900;
    height: auto;
    line-height: 1;
    margin: 0px 0px 40px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
    letter-spacing:15px;
    background: -webkit-linear-gradient(45deg, #84ffff, #FF00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main_container #main_img{
    flex: none;
    height: auto;
    margin: 0 auto;
    width: 260px;
    max-width: calc(100% - 20px);
   	padding-right: 200px;
}

@media screen and (max-width: 480px) {
	#main_container {
		padding: 100px 0px 50px 0px;
	}

	#main_container img {
		padding-top: 40px;
	}

	#main_box_title_list p{
		margin: 14px 0px 20px 0px;
	}
}
